body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}
h1 {
    color: #d9534f;
    margin-top: 20px;
}
.container {
    margin-top: 50px;
}
.gif-image {
    width: 200px;
    height: auto;
}
.button-container {
    margin-top: 20px;
    position: relative; /* Added for the moving button */
}
.btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #d9534f;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background-color: white;
    color: #d9534f;
    transition: 0.3s ease;
}
.btn:hover {
    background-color: #d9534f;
    color: white;
}
.no-btn {
    position: absolute;
}
